<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Heimurinn án nafn</title>
  <link rel="stylesheet" href="../css/animation.css">
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/loots.css">
</head>
<body>
  <div id="load"></div>
  <button id='accueil' data-page="index"><div>Générateur de Récompenses</div></button>
</body>
  <script src='../javascript/change_page.js' type="text/javascript" charset="utf-8"></script>
  <script src='../javascript/loots.js' type="text/javascript" charset="utf-8"></script>
</html>