<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Heimurinn án nafn</title>
  <link rel="stylesheet" href="../css/animation.css">
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/worldMap.css">
</head>
<body>
  <div id="load"></div>
  <button id='accueil' data-page="index"><div>Cartes des Mondes</div></button>
  <button id='retour'><div>Retour</div></button>
  <section>
    <article id="normalMap"><div>Carte terrestre</div></article>
    <article id="flyIsland"><div>Cartes des îles volantes</div></article>
    <article id="centerWorld"><div>Carte du monde intérieur</div></article>
    <article id="dungeon"><div>Cartes des donjons</div></article>
  </section>
</body>
  <script src='../javascript/change_page.js' type="text/javascript" charset="utf-8"></script>
  <script src='../javascript/worldMap.js' type="text/javascript" charset="utf-8"></script>
</html>