{% extends "layout.html.twig" %}
{% block title %}404{% endblock %}
{% block content %}

    <h1>404</h1>
    <p>la page n'existe pas.</p>
    <a href="{{ url( '' )  }}" class="btn btn-secondary">retour à l'accueil</a>

{% endblock %}
